<h2 class="mt-5">Welcome to the Application</h2>
<% if current_user %>
  <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-secondary"%>
<% else %> 
  <p class="lead">Please register or sign in to continue</p>
  <%= link_to "Sign Up", sign_up_path, class: "btn btn-info"%>
  <%= link_to "Login", login_path, class: "btn btn-secondary"%>
<% end %>
  
