development:
  secret_key_base: "secret_key_base
  twilio_account_sid: "twilio_account_sid"
  twilio_auth_token: "twilio_auth_token"
  twilio_phone_number: "twilio_phone_number"
  user_name: "email_username"
  password: "email_password"

test:
  secret_key_base: "secret_key_base
  twilio_account_sid: "twilio_account_sid"
  twilio_auth_token: "twilio_auth_token"
  twilio_phone_number: "twilio_phone_number"
  user_name: "email_username"
  password: "email_password"